<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>
    <div class="card" style="width: 400px; padding: 20px; margin: 0 auto; background-color:#CFEDEB">
        <h2>Login</h2>
        <form  method="post"> 
            {% csrf_token %}
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div><br><br>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div><br><br>
            <p>don't have an account? Please register <a href="{% url 'register' %}">here</a></p><br><br> <!-- Use {% url 'register' %} for registration link -->
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
